In [1]:
from faker import Faker
import pandas as pd 
import numpy as np

In [2]:
fake = Faker()

In [3]:
transaction_date = []
customer_name = []
card_number = []
zipCode = []
transaction_amount = []

In [4]:
for _ in range(10):
    transaction_date.append(fake.date_between_dates('-1y' , 'now'))

In [5]:
for _ in range(10):
     customer_name.append(fake.name())

In [6]:
for _ in range(10):
     card_number.append(fake.credit_card_number())

In [7]:
for _ in range(10):
     zipCode.append(fake.zipcode())

In [8]:
for _ in range(10):
    transaction_amount.append(np.random.randint(100,5000))

In [10]:
df = pd.DataFrame(zip(transaction_date,customer_name,card_number,zipCode,transaction_amount),columns=['transaction_date','customer_name','card_number','zipcode','transaction_amount'])
df

,transaction_date,customer_name,card_number,zipcode,transaction_amount
0,2024-07-01,Tiffany Harrison,4392151393969919,33677,1404
1,2024-04-04,Melissa Snyder,180074754136403,12262,2394
2,2024-05-03,Veronica Jimenez,372420360081723,64430,1605
3,2024-08-12,Matthew Scott,4259136871403004,06230,2983
4,2024-05-18,Hunter Sanchez,4104793808054693,17228,617
5,2024-01-09,Angela Lamb,676332169470,92761,4264
6,2023-08-28,Joseph Massey,3529859932199867,05498,1229
7,2024-04-29,Alexander Bradley,343218414849111,01385,701
8,2023-11-08,Eric Cook,4589779048469,82989,4922
9,2024-04-21,Monica Smith,3534865171673325,68738,1664

In [13]:
df.to_csv('fake_data.csv')